modules = ["nodejs-20", "python-3.12", "web"]

[nix]
channel = "stable-25_05"
packages = ["nano"]

[workflows]
runButton = "Start Full Stack"

[[workflows.workflow]]
name = "Start Backend Mock"
author = 45744958
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend-codes-gd && npm install && npm run dev"

[[workflows.workflow]]
name = "Start Frontend"
author = 45744958
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend-codes && npm install && npm run dev"

[[workflows.workflow]]
name = "Start Full Stack"
author = 45744958
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend-codes-gd && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend-codes && npm run dev"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 80
